.color-none {
  background-color: white;
  position: relative;
  opacity: 0.8;
  border: 3px dotted #808080;
}
.chrome-picker {
  background-image: conic-gradient(#ff4141, #ffff51, #55fc55, #5555ff, #ff5959);
}
.color1 {
  background-image: linear-gradient(to bottom, #e6696e, #e67a7d);
}

.color2 {
  background-image: linear-gradient(to bottom, #e8765c, #e78470);
}

.color3 {
  background-image: linear-gradient(to bottom, #dd8042, #dc8d5e);
}

.color4 {
  background-image: linear-gradient(to bottom, #d69d2f, #cd8e27);
}

.color5 {
  background-image: linear-gradient(to bottom, #6ca64e, #5f9943);
}

.color6 {
  background-image: linear-gradient(to bottom, #5ba68f, #4b977f);
}

.color7 {
  background-image: linear-gradient(to bottom, #629eb1, #5490a3);
}

.color8 {
  background-image: linear-gradient(to bottom, #6c92c3, #5f84b9);
}

.color9 {
  background-image: linear-gradient(to bottom, #737ec4, #656fb9);
}

.color10 {
  background-image: linear-gradient(to bottom, #9177c0, #8268b4);
}

.color11 {
  background-image: linear-gradient(to bottom, #dd7190, #d76784);
}

.color12 {
  background-image: linear-gradient(to bottom, #87919d, #7a8490);
}

.color13 {
  background-image: linear-gradient(to bottom, #8d928e, #7e8480);
}

.color14 {
  background-image: linear-gradient(to bottom, #9c908b, #8f817d);
}
